@charset "UTF-8";
nav {
    padding: 0.1%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#globalnav li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

#globalnav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 2%;
}

#globalnav a:link,
#globalnav a:visited {
    color: black;
}

#globalnav a:active,
#globalnav a:hover {
    color: ghostwhite;
}

#linkedin {
    width: 3em;
}

#github {
    width: 3em;
}

header h1 {
    font-size: 3.2em;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

header h2 {
    font-size: 1.2em;
    text-align: center;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 25px;
}

body {
    background-image: url(pics/background_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#profilepic {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    border: 2px solid darkslategray;
    border-radius: 5px;
}

#pres {
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    float: right;
    width: 70%;
    margin: 0 auto;
    padding: 1%;
    border: 2px solid darkslategray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

#email {
    text-decoration: none;
    color: #FFF;
}





/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
/*Kommentar*/
